.nbar {
    background-color: black;
    width:auto-fill;
    height:4.25%;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    border:1px solid white;
    border-left:None;
    border-right:none;
    opacity:75%
}
button{
    background-color: black;
    color:white;
    font-family: 'Press Start 2P';
    border:none;
    width:min-content;
    height:min-content;
    position:absolute;
    padding: 8px;
    padding-bottom: 8px;
    border-color:#72BCD4 ;
}
button:hover{
    color: #72BCD4;
    border-color:#72BCD4 ;
}
.btn {
    font-size: 14px;
    border-right:1px solid white;
    left: 0px;
}
.btn2{
    font-size: 8px;
    padding-bottom: 7px;
    border-left:1px solid white;
    right: 0px;
}