.nbar {
    background-color:#808080;
    width:auto-fill;
    height:4.25%;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    border:1px solid white;
    border-left:None;
    border-right:none;
    opacity:0.5;
}
button{
    font-weight: bold;
    color:black;
    font-family: 'PT Sans Narrow';
    border:none;
    width:max-content;
    height:100%;
    position:absolute;
    padding: 0px,8px,0px;
    border-color:#b20000 ;
    
}
button:hover{
    color: #b20000;
    border-color:#b20000 ;
    
}
.btn {
    border-right:1px solid white;
    left: 0px;
    font-size: 26px;
    
}
